@mixin btn-rose($color, $color2){
    background: -webkit-linear-gradient(($color, $color2)); 
    background: -moz-linear-gradient(($color, $color2)); 
    background: -o-linear-gradient(($color, $color2)); 
    background: linear-gradient(($color, $color2)); 
}


.btn{
    @include btn-rose($clr-secondary, $clr-primary);
    padding: 15px;
    border-radius: 25px;
    box-shadow: 4px 4px 6px $gris-degr;
    font-weight: bold;
    margin: 25px 0px;
    width: 185px;
    cursor: pointer;
    color: white;
    transition: 400ms;
    &:hover{
    filter: brightness(1.1);
    box-shadow: 7px 7px 6px darken($gris-degr, 8);
    }
}

    //Coeurs

.full{
    @include btn-rose ($clr-secondary, $clr-primary);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    opacity: 0;
    transition: all 250ms;
    &:hover{
        opacity: 1;
        transform: scale(1.15);
    }
}

.empty{
    position: absolute;
}