footer{ 
    background-color: $txt-fond-clair;
    color: $txt-fond-sombre;
    font-family: "Roboto";
    
    a{
        color: white;
    }
    h3{
        padding: $padding-M;
        font-family: "Shrikhand";
    }
    li{
        padding: $padding-S $padding-M;
        font-size: 18px;
        letter-spacing: 1px;
    }
    i{
        padding-right: 8px;
    }
}