$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-back-ground:#f6f6f6;
$color-back-ground-localisation: #eaeaea;
$color-back-ground-footer:#353535;
$color-icons: #7e7e7e;

$font-logo: 'Shrikhand' , cursive;
$font-text: 'Roboto' , sans-serif;

$size:16px;
$size--logo: $size * 2;
$size--title: $size * 1.5;
$size--sub-title: $size * 1.2;
$size--icon: 22px;

$padding--logo:20px 0 10px 0;

$width: 90%;

$shadow: 0px 5px 10px #c5c5c5;

$width-height-check-animation : $size * 4 + 1;