@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
header h1 {
  display: flex;
  justify-content: center;
  font-family: "Shrikhand";
  padding: 1rem 0rem;
  position: relative;
  z-index: 2;
}
header .arrowindex {
  position: absolute;
  left: 3%;
  top: 4%;
  font-size: 20px;
  z-index: 5;
}

/*********************
COULEURS PRINCIPALES
*********************/
/*********************
COULEURS SECONDAIRES
*********************/
/*********************
TEXTES
*********************/
/*********************
Padding
*********************/
.btn {
  background: linear-gradient(#9356DC, #FF79DA);
  padding: 15px;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #CBCBCB;
  font-weight: bold;
  margin: 25px 0px;
  width: 185px;
  cursor: pointer;
  color: white;
  transition: 400ms;
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 7px 7px 6px #b7b7b7;
}

.full {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 250ms;
}
.full:hover {
  opacity: 1;
  transform: scale(1.15);
}

.empty {
  position: absolute;
}

main .introsection .Paris {
  display: flex;
  justify-content: center;
  width: 100%;
}

main .menufooter, main .tutosection .tuto, main .introsection .intro .btn, main .introsection .intro {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

main .cardssection .sectiontitle, main .tutosection .sectiontitle, main .introsection .intro h2 {
  font-size: 27px;
  font-weight: bold;
}

/*********************
COULEURS PRINCIPALES
*********************/
/*********************
COULEURS SECONDAIRES
*********************/
/*********************
TEXTES
*********************/
/*********************
Padding
*********************/
footer {
  background-color: #2D2929;
  color: #ffffff;
  font-family: "Roboto";
}
footer a {
  color: white;
}
footer h3 {
  padding: 10px;
  font-family: "Shrikhand";
}
footer li {
  padding: 5px 10px;
  font-size: 18px;
  letter-spacing: 1px;
}
footer i {
  padding-right: 8px;
}

main {
  font-family: "Roboto", sans-serif;
}
main .introsection .Paris {
  background: linear-gradient(#CBCBCB 1%, #e3e3e3 7%);
  padding: 20px 0px;
}
main .introsection i {
  padding-right: 10px;
}
main .introsection .intro {
  padding: 3rem;
  background-color: #EFEFEF;
}
main .introsection .intro h2 {
  padding: 15px 20px 5px 20px;
  font-size: 30px;
}
main .introsection .intro > p {
  padding: 5px 0px;
  font-size: 20px;
}
main .tutosection .sectiontitle {
  padding-top: 20px;
  padding-left: 52px;
}
main .tutosection .tuto {
  counter-reset: tutolist;
  padding-bottom: 15%;
  padding-top: 3%;
  gap: 25px;
  white-space: nowrap;
}
main .tutosection .tuto__list {
  background-color: #EFEFEF;
  font-weight: bold;
  border-radius: 25px;
  padding: 25px 75px;
  box-shadow: 4px 4px 6px #CBCBCB;
  width: 50%;
  position: relative;
}
main .tutosection .tuto__list:hover {
  background-color: rgba(147, 86, 220, 0.2);
  box-shadow: 7px 7px 6px #b7b7b7;
}
main .tutosection .tuto__list:hover i {
  color: #9356DC;
}
main .tutosection .tuto__list::before {
  counter-increment: tutolist;
  content: counter(tutolist);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -2%;
  top: 1rem;
}
main .tutosection .tuto__list i {
  position: relative;
  right: 17%;
}
main .cardssection {
  background-color: #EFEFEF;
  padding-bottom: 20px;
}
main .cardssection .sectiontitle {
  padding-top: 20px;
  padding-left: 52px;
}
main .cardssection .cardslist .card {
  background-color: #ffffff;
  border-radius: 25px;
  position: relative;
  margin: 5%;
}
main .cardssection .cardslist .card img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}
main .cardssection .cardslist .card__new {
  display: inline;
  position: absolute;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #008766;
  right: 1rem;
  top: 1rem;
}
main .cardssection .cardslist .card__bottom {
  padding: 15px;
}
main .cardssection .cardslist .card__bottom h3 {
  padding-bottom: 5px;
}
main .cardssection .cardslist .card__heart {
  position: absolute;
  right: 1rem;
  bottom: 1.5rem;
  font-size: 25px;
  overflow: visible;
}
main .backgroundmenu {
  width: 100%;
  max-height: 30rem;
  object-fit: cover;
  z-index: 1;
}
main .menucontainer {
  background-color: #e3e3e3;
  padding-bottom: 3%;
  margin-top: -4rem;
  z-index: 5;
  position: relative;
  border-radius: 50px 50px 0px 0px;
}
main .menucontainer .restaurantID {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-family: "Shrikhand";
}
main .menucontainer .restaurantID i {
  font-size: 25px;
}
main .menucontainer .restaurantID h2 {
  font-size: 36px;
}
main .menucontainer .menusection .menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
main .menucontainer .menusection .menu h2 {
  padding: 2rem 0 0.7rem 1rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 20px;
  position: relative;
}
main .menucontainer .menusection .menu h2::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 1rem;
  bottom: 0%;
}
main .menucontainer .menusection .menu__card1 {
  animation: menu-appear 1s ease-in-out 400ms both;
}
main .menucontainer .menusection .menu__card2 {
  animation: menu-appear 1s ease-in-out 600ms both;
}
main .menucontainer .menusection .menu__card3 {
  animation: menu-appear 1s ease-in-out 800ms both;
}
main .menucontainer .menusection .menu__card4 {
  animation: menu-appear 1s ease-in-out 1000ms both;
}
main .menucontainer .menusection .menu__card {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 15px;
  margin: 0 1rem;
  box-shadow: 4px 4px 6px #CBCBCB;
  overflow: hidden;
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  main .menucontainer .menusection .menu__card {
    flex-grow: 0;
    max-width: 300px;
  }
}
main .menucontainer .menusection .menu__card__description {
  display: flex;
  flex-direction: row;
}
main .menucontainer .menusection .menu__card:hover > .menu__card__valid {
  margin: 0;
}
main .menucontainer .menusection .menu__card:hover > .menu__card__valid .fa-check-circle {
  animation: rotateicon 600ms ease-in-out both;
}
main .menucontainer .menusection .menu__card__price {
  padding: 1rem 1rem 1rem 0;
  margin: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}
main .menucontainer .menusection .menu__card__txt {
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 70%;
}
main .menucontainer .menusection .menu__card__txt h3 {
  padding-bottom: 0.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menucontainer .menusection .menu__card__txt p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .menucontainer .menusection .menu__card__valid {
  background-color: #99E2D0;
  color: #ffffff;
  margin-right: -5rem;
  width: 5rem;
  transition: margin-right 310ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .menucontainer .menusection .menu__card__valid .fa-check-circle {
  font-size: 1.5rem;
  transform: rotate(0deg);
}

/*# sourceMappingURL=style.css.map */
