.page_menu
{
    box-shadow: none;
    border-bottom: 2px solid $color-back-ground;
}

.contenair_img_menu {
    height: auto;
}

.img_bckground_menu {
    width: 100%;
    height: 275px;
    z-index: -1;
    position: fixed;
    object-fit: cover;

    @include desktop{
        object-fit: cover;
        z-index: -2;
        height: 100%;
        width: 100%;
    }
}

.menu {
    background-color: $color-back-ground;
    border-radius: 35px 35px 0 0;
    position: relative;
    @include flex-position;
    padding-bottom: 70px;
    top: 220px;
    margin-bottom: 220px;

    @include desktop{
        background-color: rgba(246, 246, 246, 0.6);
        width: $width;
        margin: auto;
        position: relative;
        top: 25px;
        border-radius: 35px;
        z-index: 1;
    }
}

.display_menu_destop{
    @include flex-position;
    width: 100%;
    @include desktop{
        @include flex-position ($x-y:row, $axe-p:space-between, $axe-s:flex-start);
        width: $width;
    }
}

.restaurant-title {
    @include flex-position ($x-y: row);
    width: $width;
    padding-right: 20px;

    &__name {
        font-family: 'Shrikhand';
        font-weight: lighter;
        padding-left: 0;

        @include desktop {
            margin-left: 4%;
        }
    }

}

.categorie-repas {
    width: $width;
    padding-bottom: 40px;

    @include desktop {
        width: 34%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;  
        padding-bottom: 0;    
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 20px;
        position: relative;

        &::after {
            position: absolute;
            top: 22px;
            content: "";
            width: 40px;
            height: 2px;
            background-color: $color-tertiary;
            display: block;
        }

        @include desktop{
            margin: 10px auto 25px 10%;
            width: 100%;
        }
    }
}

.border_right{
    @include desktop{
        border-right: 4px dashed $color-tertiary;
    }
}.element-repas { 
    @include flex-position ($axe-p: space-between, $axe-s: center, $x-y: row);
    @include shadow;
    background-color: white;
    height: 70px;
    margin-bottom: $size;
    border-radius: 15px;
    overflow: hidden;

    @include desktop{
        width: 80%;
        margin: auto;
        margin-bottom: 15px;
        margin-top: 5px;
    }
    
    &__text { 
        white-space: nowrap;
        overflow: hidden;
        padding-left: calc($size / 4) * 3;
        flex: 1;
    }

    &__title {
        font-weight: 900;
        font-size: $size + 2;
        margin-bottom: calc($size / 2); 
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__small-title { 
        font-size: $size - 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__prix { 
        margin-left: auto;
        padding: 33px 20px 0 0;
        font-weight: 700;
    }
}

