main {
    padding-top: 7vh;

    @include desktop {
        padding-top: 0;
        height: 88vh;
        display: flex;
        flex-direction: column;
    }
}

body {
	box-sizing: border-box;
    font-family: $font-text;
    width: 100%;
    height: 100%;
}

.contenair{
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h2 {
    font-size: $size--title;
    font-weight: bold;
    padding: 20px;
    width: 100%;
}

h3 {
    font-size: $size;
    font-weight: bold;
    margin-bottom: $size*0.5;
}