.fa-heart{
    min-width: $size--icon;
    &:hover{
        color: $color-primary;
        cursor: pointer;

        &::after  {
            transform: translate(0%, 0%) scale(1.2) rotate(3turn);
            transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
        }
    }

    &::before {
        position: relative;
        top: 12px;
    }

    &::after{
        height: 24px;
        
        content: "\f004";
        font-weight: 900;
        @include flex-position;
        background-image: linear-gradient($color-secondary, $color-primary);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        transform: translate(0) scale(0);
        transition: all 0.5s cubic-bezier(.17,.67,.83,.67);
    }
}